* {
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header{
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

nav a{
    margin: 20px;
    color: #E94560;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    background-color: #0F3460;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;

}

h2{
    color: #E94560;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main{
    display: flex;
    flex-direction: row;
    
    background-color: #0F3460;  
}


#containerCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;

}

#containerInfo{
    background-color: #E94560;
    padding: 30px;
    min-width: 500px;
    display: none;
    
}

.divCardsInfo{
    display: flex ;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    right: 10%;

    
   
  
}

.divCards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 300px;
    margin: 10px;
    position: relative;

}

p{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer{
    padding: 20px;
    background-color: black;
    color: #E94560;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttonBack{
    padding: 10px;
    width: 60px;
    border-radius: 8px;
    color: white;
    border: none;
    background: none;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 40px;
    background-color:#ff617c; ;

    
}

.buttonBack:hover{
    background-color: #0F3460;
    transition: 0.3s;
}

#modal{
    position: absolute;
    margin: 22px;
    width: 1340px;
    height: 540px;
    background-color: rgba(0, 0, 0, 0.894);
        

    
}

.imgModal{
    width: 300px;
    height: 400px;
    margin: 70px 520px;
    position: absolute;
    
    
}

.closeModal{
    margin: 10px;
    width: 60px;
    padding: 10px;
    border-radius: 8px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.closeModal:hover{
    background-color: #E94560;
    transition: 0.5s;
    
    
}

#containerCarousel{
    display: flex;
}

#divCarousel{
    
    
}










